<html>
    <head>
        <title>Home</title>
        <style>
            a{
                position: relative;
                padding-left: 100px;
            }
           
        </style>
        <body>
         <form action="">
            <fieldset style="width: 300px; height:300px">
                <h1 align="center">Welcome Bob!</h1>
                <a href="profile.html">Profile</a><br>
                <a href="change.html">Change password</a><br>
                <a href="view.html">View Users</a><br>
                <a href="logout.php">Logout</a>
            </fieldset>
         </form>
        </body>
    </head>
</html>