<html>
    
    <head><title>Login</title></head>
    <body>
        <form action="">
            <fieldset>
                <legend>LOGIN</legend>
                Id <br>
                <input type="text" name="id" value=""><br>
                Password <br>
                <input type="password" name="passworsd" value=""><br><br>
                  <input type="submit" name="submit" value="Login">
                  <a href="register.html">Register</a>
                  
            </fieldset>
        </form>
    </body>
</html>